<tr id="<%= dom_id friend %>">
  <td><%= friend.first_name %></td>
  <td><%= friend.last_name %></td>
  <td><a href='mailto:<%=friend.email%>'><%= friend.email %></a></td>
  <td><%= friend.phone %></td>
  <td><%= friend.socials %></td>
  <td><%= link_to "View", friend, class:'btn btn-secondary'%></td>
</tr>
